
header.header
    div.header__search
        input.header__search-input(
            type='search',
            name='search'
            placeholder='Search',
            hx-post='/search',
            hx-trigger='input changed delay:500ms, search'
            hx-target="#content"
        )
    div.header__select
        select.header__select-input(
            name="locale"
            hx-post='/set-locale',
            hx-target="body"
            hx-swap="innerHTML"
        )
            each locale in locales
                if locale === selected
                    option(value=locale, selected=true)= locale
                else
                    option(value=locale)= locale
